<h1>Cambio de rol</h1>

<button type="button" onclick="cambioDeRol('{{user}}')" class="btn btn-primary">Usuario</button>
<button type="button" onclick="cambioDeRol('{{user}}')" class="btn btn-secondary">Premium</button>

<li class='nav-item'>
  <a class='nav-link' href='/products'>Volver al inicio</a>
</li>

<script src="/js/product.js"></script>
