<h2>Ticket de tu Compra</h2>

<p>Codigo del ticket: <b>#{{code}}</b></p>
<p>Fecha y hora de la compra: {{purchase_datetime}}</p>

<p><b>TOTAL ABONADO</b>: ${{amount}}</p>
<p>Mail de usuario: {{purchaser}}</p>
<li class='nav-item'>
  <a class='nav-link' href='/products'>Volver al inicio</a>
</li>